body {
background-color: green;
}

h1 {
text-align: center;
}

.row {
clear:both;
}

.row div {
float: left;
border: 1px solid #ddd;
padding: 5px 15px;
min-width: 85px;
min-height: 18px;
}

/* #container > .row {
    padding: 0;
    border: none;
} */

/* 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

th {
    padding: 5px;
    text-align: centre;    
  
} 

td {
    padding: 5px;
    text-align: left;    
} */